<div class="container text-center">
  <h1 class="mt-5 text-light">Welcome to Story Builder</h1>
  <p class="lead text-light">
    Where the stories are made just for you.
  </p>
  <p class="lead">
    <%= link_to "Create Story", create_path, :class => "btn btn-lg btn-light" %>
  </p>
  <img class="d-block w-100" src="images/magic-book.png" alt="Magic Book">
</div>
