<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <%= link_to "Story Builder", home_path, :class => "navbar-brand" %>
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <%= link_to "Home", home_path, :class => "nav-link" %>
        </li>
        <li class="nav-item active">
          <%= link_to "Create Story", create_path, :class => "nav-link" %>
        </li>
      </ul>
    </div>
  </nav>
</header>

<main role="main" class="d-flex flex-shrink-0">
  <div class="container text-center">
    <h1 class="text-light mt-5">Story Builder</h1>
    <h4 class="text-light">Fill in the following fields, or click
      <button type="button" class="btn btn-light btn-lg">here</button>
      to randomly generate values</h4>
    <form>
      <div class="form-group">
        <label class="text-light" for="protagonistName">Protagonist Name</label>
        <input type="text" class="form-control" id="protagonistName" placeholder="Name">
      </div>
      <div class="form-group">
        <label class="text-light" for="gender">Gender</label>
        <select class="form-control" id="gender">
          <option>Male</option>
          <option>Female</option>
        </select>
      </div>
      <div class="form-group">
        <label class="text-light" for="age">Age</label>
        <input type="number" min="0" max="123" class="form-control" id="age" placeholder="Age">
      </div>
      <button type="submit" class="btn btn-primary btn-lg">Create</button>
    </form>
  </div>
</main>
