<% content_for :home_class, "nav_item" %>
<% content_for :create_class, "nav_item" %>
<% content_for :view_class, "nav_item active" %>
<% content_for :page_title, "Story List" %>
<% @stories.each do |story| %>
  <div class="container bg-light text-left mt-2">
      <h3><%= link_to story.title, story %></h3>
      <h4>By <%= story.author %></h4>
      <p class="lead"><%= story.text[0..100] + (story.text.length > 100 ? '...': '') %></p>
  </div>
<% end %>
