<% content_for :home_class, "nav_item" %>
<% content_for :create_class, "nav_item" %>
<% content_for :view_class, "nav_item" %>
<% content_for :page_title, @story.title %>
<div class="container text-center bg-light pt-1 pb-1">
  <h2>By <%= @story.author %></h2>
  <p class="lead"><%= @story.text %></p>
</div>
