<% content_for :page_title, @story.title %>
<div class="container text-center bg-light pt-1 pb-1">
  <h2>By <%= @story.author %></h2>
  <p class="lead"><%= @story.text %></p>
  <% if current_user.id == @story.user_id || current_user.admin %>
    <%= link_to "Edit", edit_story_path(@story), class: "btn btn-secondary" %>
    <%= link_to "Delete", story_path(@story), method: :delete, data: {confirm: "Are you sure? "}, class: "btn btn-danger" %>
  <% end %>
</div>
