<% content_for :home_class, "active" %>
<% content_for :page_title, "Welcome to Story Builder" %>
<div class="container text-center">
  <p class="lead text-light">
    Where the stories are made just for you.
  </p>
  <p class="lead">
    <%= link_to "Create Story", build_path, :class => "btn btn-lg btn-light" %>
  </p>
  <img class="d-block w-100" src="images/magic-book.png" alt="Magic Book">
</div>
