// Place all the styles related to the stories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#remove_character {
  display: none;
}
#remove_item {
  display: none;
}
#remove_place {
  display: none;
}
