<% content_for :home_class, "nav_item" %>
<% content_for :create_class, "nav_item" %>
<% content_for :view_class, "nav_item" %>
<% content_for :verb_class, "nav_item" %>
<% content_for :page_title, "New Verb" %>
<div class="container text-center">
  <%= simple_form_for @verb do |f| %>
  <%= f.input :name, label_html: {class: "text-light"} %>
  <%= f.input :part, collection: [['Beginning', 'beginning'],
  ['Middle', 'middle'], ['End', 'end']],
  prompt: "Choose the story part", label_html: {class: "text-light"} %>
  <button type="button" name="addObject" class="btn btn-light"
  onclick="addObjectOrType()">Add Object</button>
  <button id="remove_object" type="button" name="addObject" class="btn btn-light"
  onclick="removeObjectOrType()">Remove Object</button>
  <div class="form-group row" id="objects_or_types">
  </div>
  <%= f.button :submit, class: "btn-lg btn-light" %>
  <% end %>
</div>
<script type="text/javascript" src="/js/new_verb.js"></script>
